@use "./scss/base";
@use "./scss/variables";
@use "./scss/sidebar";

.sidebar-nav {
    display: flex;
    justify-content: center;
    border: 1px solid red($color: #000000);
}

img {
    width: 100%;
}