*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../assets/fonts/satoshi/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../../assets/fonts/satoshi/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../../assets/fonts/satoshi/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Satoshi", sans-serif;
  line-height: 1.5;
  background-color: rgb(6, 6, 6);
}

h1, h2, h3, h4 {
  font-weight: 700;
  line-height: 100%;
}

p {
  margin-bottom: 1rem;
}

a {
  font-size: 14px;
}

.sidebar {
  width: 16rem;
  height: 100vh;
  background-color: rgb(6, 6, 6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  gap: 20px;
}

.sidebar-nav a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 11px 20px;
  color: rgb(137, 137, 137);
  gap: 10px;
  position: relative;
  transition: background-color 0.3s ease, color 0.1s ease;
}
.sidebar-nav img:not(.vector) {
  width: 40px;
  height: 40px;
}
.sidebar-nav .vector {
  position: absolute;
  right: 15px;
  width: 10px;
}

.sidebar-nav a:hover {
  cursor: pointer;
  border-radius: 8px;
  color: #E0E0E0;
  background-color: rgb(0, 0, 0);
}

.library a {
  padding: 7px 15px;
}

header {
  width: 100%;
  height: 55px;
  background-color: rgb(6, 6, 6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 0 0 260px;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.home-btn a {
  display: flex;
  align-items: center;
  color: #E0E0E0;
  gap: 11px;
  background-color: rgba(32, 32, 32, 0.5);
  padding: 10px 105px 10px 15px;
  border-radius: 8px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: rgb(137, 137, 137);
  gap: 10px;
  padding-right: 20px;
}

.nav-link:hover {
  color: #E0E0E0;
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: rgb(6, 6, 6);
  transition: background-color 0.2s;
  padding: 6px 12px;
}
.search-container:focus-within {
  background-color: rgb(6, 6, 6);
  outline: 2px solid rgb(6, 6, 6);
}
.search-container .search-icon {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  filter: brightness(0.7);
}

.search-input {
  background: transparent;
  border: none;
  color: white;
  font-size: 0.85rem;
  width: 100%;
  outline: none;
}
.search-input::placeholder {
  color: rgb(137, 137, 137);
}

.action-icons {
  display: flex;
  gap: 13px;
  align-items: center;
  padding: 7px;
}
.action-icons img {
  width: 40px;
  height: 40px;
}

.main-views {
  margin-left: 16rem;
  margin-top: 60px;
  margin-right: 7px;
  padding: 24px;
  background: rgb(6, 6, 6);
  min-height: calc(100vh - 55px);
  border: 1px solid rgb(32, 32, 32);
  border-radius: 8px;
}

.filters {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  justify-content: space-between;
}

.chip:hover {
  background-color: #333842;
}

.chip {
  background-color: rgba(32, 32, 32, 0.5);
  color: rgb(224, 224, 224);
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  font-weight: 400;
  cursor: pointer;
}

.chip.active {
  background-color: rgb(224, 224, 224);
  color: rgb(17, 17, 17);
}

.player {
  background-color: #333842;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 16rem;
  width: 84%;
  height: 81px;
  border-radius: 10px;
}

.player-left {
  display: flex;
  align-items: center;
  width: 30%;
  gap: 5px;
  padding-left: 70px;
}
.player-left img {
  height: 38px;
}

.line {
  width: 696px;
}

.on-off {
  background-color: #1ED760;
  position: absolute;
  left: 21px;
  padding: 15px;
  border-radius: 50%;
}
.on-off img {
  height: 11px;
  width: 10px;
}

.on-off:hover {
  background-color: green;
}

.player-center {
  display: flex;
  align-items: center;
  padding: 15px 0;
  gap: 10px;
  padding-left: 32px;
}
.player-center img {
  width: 51px;
  height: 51px;
}

.track-name {
  font-size: 14px;
  color: rgb(224, 224, 224);
  font-weight: 400;
}

.track-info {
  font-size: 14px;
  color: rgb(137, 137, 137);
  font-weight: 400;
}

.player-right {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 5px;
}

.more {
  padding-right: 6px;
  border-right: 2px solid rgb(137, 137, 137);
  height: 36px;
}

/*# sourceMappingURL=styles.css.map */
