@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.sidebar {
  width: 16rem;
  height: 100vh;
  background-color: v.$bg-primary;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  gap: 20px;
}

.sidebar-nav {
  a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 11px 20px;
    color: v.$text-secondary;
    gap: 10px;
    position: relative;
    transition: background-color 0.3s ease, color 0.1s ease;
  }

  img:not(.vector) {
    width: 40px;
    height: 40px;
  }

  .vector {
    position: absolute;
    right: 15px;
    width: 10px;
  }
}

.sidebar-nav a:hover {
  cursor: pointer;
  border-radius: 8px;
  color: v.$text-primary;
  background-color: v.$btn-background;
}

.library a {
  padding: 7px 15px;
}