@use "../abstracts/variables" as v;
@use "../abstracts/mixins";


h2 {
    color: v.$text-primary;
font-style: Bold;
font-size: 20px;
letter-spacing: 3%;
padding-bottom: 15px;
}

// aq gadasasqroli aris chasamatebeli da mgoni js schirdeba ro imushaos scrollma 

.card-grid {
    display: grid;
    gap: 11px;
     grid-auto-flow: column;
  grid-auto-columns: 170px; 
  overflow-x: auto;
  scroll-behavior: smooth;
}

.spotify-card {
//     width: 170px;
//   padding: 1px;
  border-radius: 8px;
  cursor: pointer;
   flex-shrink: 0;
}

.card-grid::-webkit-scrollbar {
  display: none;
}

.card-image {
    img {
         border-radius: 8px;
    }
}

.card-text {
   h3 {
       color: v.$text-primary;
   font-weight: 500;
   font-style: Medium;
   font-size: 14px;
   line-height: 100%;
   letter-spacing: 3%;
   }

   p {
font-weight: 400;
font-style: Regular;
font-size: 12px;
line-height: 100%;
letter-spacing: 3%;
color: v.$text-secondary;
   }
}