@mixin border($radius: 8px, $color: rgba(32, 32, 32, 1)) {
  border-radius: $radius;
  border: 1px solid $color;
  overflow: hidden; 
}

@mixin text-style($color: rgba(137, 137, 137, 1)) {
    font-size: 14px;
    color: $color;
    font-weight: 400;
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin font-style ($font-weight: 500) {
font-family: Satoshi;
font-weight: $font-weight;
font-style: Medium;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 3%;
}
