$bg-primary: rgba(6, 6, 6, 1);
$bg-secondary: #333842;
$text-primary: #E0E0E0;
$text-secondary: rgba(137, 137, 137, 1);
$btn-background: rgba(32, 32, 32, 0.5);
$btn-border-radius: 8px;
$border-radius-color: #202020;
$btn-color: rgba(224, 224, 224, 1);
$bg-gradient:linear-gradient(180deg, #10301B 0%, #111111 100%);
$text-accent: #1ED760;
$border-radius: 16px;
$border: 1px solid rgba(32, 32, 32, 1);
$font-size: 14px;
$discover-card-bg: rgba(30, 50, 100, 1);
$genres-card-bg: rgba(233, 20, 41, 1);