
$bg-primary: rgba(6, 6, 6, 1);
$bg-secondary: #333842;
$text-primary: #E0E0E0;
$text-secondary: rgba(137, 137, 137, 1);

$border-radius-color: #202020;

$bg-gradient:linear-gradient(180deg, #10301B 0%, #111111 100%);
$text-accent: #1ED760;